<ion-view view-title='Login' class='login-page'>
	<ion-content>
		<div class='brand-info-container'>
			<img class='brand-logo' src='img/logo.png'>
			<div class='brand-content'>startup.io</div>
		</div>
		<div class='auth-container'>
			<div class='row'>
				<div class='col'>
					<p class='form-button' ng-click='showSigninForm=true' ng-class="{ 'selected' : showSigninForm}">Login</p>
				</div>
				<div class='col'>
					<p class='form-button' ng-click='showSigninForm=false' ng-class="{ 'selected' : !showSigninForm}">Register</p>
				</div>
			</div>
			<div class='signin-form' ng-show='showSigninForm'>
				<h2>Auth state is currently signin</h2>
			</div>
			<div class='signup-form' ng-show='!showSigninForm'>
				<h2>Auth state is currently signup</h2>
			</div>
		</div>
	</ion-content>
</ion-view>
