//keyframe animations
@-webkit-keyframes slideToLeft {
	from { transform: translateX(0%); }
	to { transform: translateX(-100%); }
}

@-webkit-keyframes slideFromLeft {
	from { transform: translateX(-100%); }
	to { transform: translateX(0); }
}

@-webkit-keyframes slideToRight {
	from { transform: translateX(0); }
	to { transform: translateX(100%); }
}

@-webkit-keyframes slideFromRight {
	from { transform: translateX(100%); }
	to { transform: translateX(0); }
}

//application of animations to signin page
.signin-form {
	position: absolute;
	width: 100%;
	-webkit-animation: slideFromLeft 0.6s ease-in-out;
}

.signin-form.ng-hide {
	-webkit-animation: slideToLeft 0.6s ease-in-out;
}

.signup-form {
	width: 100%;
	position: absolute;
	-webkit-animation: slideFromRight 0.6s ease-in-out;
}

.signup-form.ng-hide {
	-webkit-animation: slideToRight 0.6s ease-in-out;
}
