$primaryTextColor: #fff;
$secondaryTextColor: #000;

html, body {
	font-size: 16px;
	color: $primaryTextColor;
}

.login-page {
	background-image: url('../img/leaf_blur.jpg');
	background-size: auto 100%;

	.brand-info-container {
		text-align: center;
		margin: 7vh 0 7vh 0;

		img.brand-logo {
			max-width: 150px;
		}

		.brand-content {
			text-transform: uppercase;
			font-size: 1.3em;
			font-weight: bold;
			font-style: italic;
		}
	}

	.auth-container {
		position: relative;

		::-webkit-input-placeholder {
			color: $primaryTextColor;
		}

		:-moz-placeholder {
			color: $primaryTextColor;
		}

		::-moz-placeholder {
			color: $primaryTextColor;
		}

		:-ms-input-placeholder {
			color: $primaryTextColor;
		}
		
		// form switch button styles
		.col {
			display: flex;
			justify-content: center;
		}

		p.form-button {
			text-align: center;
			//opacity: 0.7;
			font-size: 1.2em;
			display: table-cell;
			padding: 0 0 3px 0;
			color: $primaryTextColor;
			font-weight: bold;
		}

		p.form-button.selected {
			border-bottom: 2px solid $primaryTextColor;
			opacity: 1.0;
		}

		p.form-button.selected:after {
			content: '';
			display: table-cell;
			width: 100%;
		}

		// form styles

		.item-input {
			color: white;
			border: none;
			border-bottom: 1px solid $primaryTextColor;
			width: 85%;
			margin: 0 auto;

			span {
				color: $primaryTextColor;
			}

			input {
				color: $primaryTextColor;
			}
		}

		button {
			margin: 35px auto;
			display: block;
			padding: 0 50px;
		}
	}
}